.mainHome{
    background-image:url('../../Pictures/IceCreamHomePage.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    border: black solid;
}
h1{
    font-size: 6rem;
    width: 20ch;
    margin-top: 200px;
    font-weight: bold;
    border: 10px solid black;
    background-color:aliceblue;
    font-style: italic;
}
.float-left h1{
    
    float: left;
}
.float-right h1{

    float: right;
}